body {
  background-color: rgb(126, 81, 177);
  display: flex;
  justify-content: center;
  align-items: center;
}

div{
border: 2px solid #0000008c;
padding: 5px;
border-radius: 20px;
margin:5px
font-size: 15px
}
.titulo{
background-color: #00clff;
color: black;
margin: 1px;}
button{
border: 2px solid #000000;
border-radius: 20px;
padding:5px;}
input{
    width:75px;
    padding:5px;
    box-sizing: border-box;
    font-size: 20px;
}
 
#container{
	width: 900px;
 
}
 
#resposta{
	 width: 400px;}
.texto{
margin: 15px;
}
